<a href="https://colab.research.google.com/github/denysleo/Estudos/blob/main/Desafio3_Denys.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nota=float(input('digite uma nota no intervalo entre 0 e 10:'))
while(nota>10 or nota<0):
  nota=float(input('digite um valor dentro do intevalo:'))

In [ ]:
usuario=str(input('digite o nome de usuário:'))
senha=str(input('digite a senha:'))
while(usuario==senha):
  print('digite uma senha diferente do nome de usuário!')
  usuario=str(input('digite o nome de usuário:'))
  senha=str(input('digite a senha:'))
else:
  print('cadastro efetuado')

digite o nome de usuário:denys
digite a senha:denys
digite uma senha diferente do nome de usuário!
digite o nome de usuário:denys
digite a senha:aa
cadastro efetuado

In [ ]:
a=80000
b=200000
taxaA=0.03
taxaB=0.015
ano=0
while(a<b):
  a=a+(a*taxaA)
  b=b+(b*taxaB)
  ano=ano+1
print('Serão necessários'+' '+str(ano)+' '+'anos para que a população de A ultrapasse a de B' )

Serão necessários 63 anos para que a população de A ultrapasse a de B

In [ ]:
a=float(input('digite a população de A:'))
b=float(input('digite a população de B:'))
taxaA=float(input('digite a taxa de crescimento de A:'))
taxaB=float(input('digite a taxa de crescimento de B:'))
ano=0
while(a<b):
  a=a+(a*taxaA)
  b=b+(b*taxaB)
  ano=ano+1
 print('Serão necessários'+' '+str(ano)+' '+'anos para que a população de A ultrapasse a de B')

In [2]:
for i in range(21):
  print(i)
print(list(range(1,21)))

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [7]:
numeros=[]
for n in range(1,6):
  numeros.append(int(input("digite um numero:")))
maior=numeros[0]
contador=1
while contador<len(numeros):
  if(numeros[contador]>maior):
    maior=numeros[contador]
    6contador= contador + 1
print("o amior numero é:"+str(maior))

digite um numero:1
digite um numero:2
digite um numero:3
digite um numero:4
digite um numero:5
o amior numero é:5

In [8]:
num1=float(input("digite o primeiro numero:"))
num2=float(input("digite o segundo numero:"))
num3=float(input("digite o terceiro numero:"))
num4=float(input("digite o quarto numero:"))
num5=float(input("digite o quinto numero:"))
soma = num1+num2+num3+num4+num5
print("soma="+str(soma))
print("média="+str(soma/5))

digite o primeiro numero:5
digite o segundo numero:5
digite o terceiro numero:5
digite o quarto numero:5
digite o quinto numero:5
soma=25.0
média=5.0

In [26]:
for n in range(1,51,2):
  print(n)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [12]:
num1=int(input("digite um numero:"))
num2= int(input("digite o segundo numero:"))
while(num2<num1):
  num1=int(input("digite um numero:"))
  num2=int(input("digite outro numero:"))
else:
  for n in range(num1,num2,1):
    print(n)

digite um numero:10
digite o segundo numero:5
digite um numero:5
digite outro numero:10
5
6
7
8
9

In [ ]:
num1=int(input("digite um numero:"))
num2= int(input("digite o segundo numero:"))
while(num2<num1):
  num1=int(input("digite um numero:"))
  num2=int(input("digite outro numero:"))
else:
  for n in range(num1,num2,1):
    print(n)

In [13]:
quantidade=int(input("digite a quantidade de cds:"))
contador =0 
valortotal =0
for n in range(quantidade):
  valorcd=float(input("digite o valor do cd:"))
  valortotal=valortotal+valorcd
  valormedio=valortotal/quantidade
  contador =contador +1
print("o valor total gasto foi de:"+" "+str(valortotal))
print("o valor médio gasto por cada cd foi de:"+" "+str(valormedio))

digite a quantidade de cds:10
digite o valor do cd:5
digite o valor do cd:5
digite o valor do cd:5
digite o valor do cd:5
digite o valor do cd:5
digite o valor do cd:5
digite o valor do cd:5
digite o valor do cd:5
digite o valor do cd:5
digite o valor do cd:5
o valor total gasto foi de: 50.0
o valor médio gasto por cada cd foi de: 5.0

In [23]:
num_maior=0
num_menor=0
aluno_mais_alto=0
aluno_mais_baixo=2.40
for n in range(1,11):
  numero=int(input("informe seu numero:"))
  altura=float(input("informe sua altura:"))
if(altura>aluno_mais_alto):
   aluno_mais_alto=altura
   num_maior=numero
if(altura<aluno_mais_baixo):
   aluno_mais_baixo=altura
   num_menor=numero
print("aluno mais alto:"+" "+str(num_maior)+"altura:"+" "+str(aluno_mais_alto)+"aluno mais baixo:"+" "+str(num_menor)+"altura:"+" "+str(aluno_mais_baixo))

informe seu numero:1
informe sua altura:1.50
informe seu numero:2
informe sua altura:1.55
informe seu numero:3
informe sua altura:1.67
informe seu numero:4
informe sua altura:1.70
informe seu numero:5
informe sua altura:1.76
informe seu numero:6
informe sua altura:1.80
informe seu numero:7
informe sua altura:1.50
informe seu numero:8
informe sua altura:1.67
informe seu numero:9
informe sua altura:1.71
informe seu numero:10
informe sua altura:1.70
aluno mais alto: 10altura: 1.7aluno mais baixo: 10altura: 1.7

In [22]:
n=1
contador1=0
contador2=0
contador3=0
contador4=0
while n>0:
  n=int(input("digite um numero:"))
  if(n>=0 and n<=25):
    contador1=contador1+1
  elif(n>=26 and n<=50):
    contador2=contador2+1
  elif(n>=51 and n<=75):
    contador3=contador3+1
  elif(n>=76 and n<=100):
    contador4=contador4+1
print("a quantidade de numeros entre 0 e 25 é:"+" "+str(contador1)+",entre 26-50 é:"+" "+str(contador2)+",entre 51-75 é:"+" "+str(contador3)+",entre 76 e 100 é:"+" "+str(contador4))

digite um numero:5
digite um numero:10
digite um numero:50
digite um numero:96
digite um numero:54
digite um numero:40
digite um numero:14
digite um numero:-10
a quantidade de numeros entre 0 e 25 é: 3,entre 26-50 é: 2,entre 51-75 é: 1,entre 76 e 100 é: 1

In [33]:
soma = 0
numero= int(input("digite n:"))
m=1
print("s=",end="")
for i in range(1,n+1):
  print(f"{i}/{m}", end="")
  if i<n and n >1:
    print("+",end="")
  else:
    print(".")
  soma += i/m
  m += 2
print(f"a soma da série deu:"+str(soma))

digite n:15
s=1/1+2/3+3/5+4/7+5/9+6/11+7/13+8/15+9/17+10/19+11/21+12/23+13/25+14/27+15/29+16/31+17/33+18/35+19/37+20/39+21/41+22/43+23/45+24/47+25/49+26/51+27/53+28/55+29/57+30/59+31/61+32/63+33/65+34/67+35/69+36/71+37/73+38/75+39/77+40/79+41/81+42/83+43/85+44/87+45/89+46/91+47/93+48/95+49/97.
a soma da série deu:25.963836919186946